<!doctype html>
<html>
<head>
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section class="container clearfix">
  <section class="role">
    <h1>Cashier</h1>
    <a href="/menu"><img src="img/cashier.jpg" alt=""></a>
  </section>
  <section class="role">
    <h1>Barista</h1>
    <a href="/login"><img src="img/barista.png" alt=""></a>
  </section>
</section>
</body>
</html>
