<!doctype html>
<html>

<head>
  <title>Barista Login Page</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style3.css">
  <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
</head>

<body>
  <section class="container clearfix">
    <section class="user">

      <h1><span class="fa fa-sign-in"></span> Login</h1>

      <% if (message.length > 0) { %>
        <section class="alert alert-danger">
          <%= message %>
        </section>
        <% } %>

          <!-- LOGIN FORM -->
          <form action="/login" method="post">
            <section class="form">
              <label id="email">Email:</label>
              <input type="text" class="formInput" name="email" placeholder="Enter your email:">
            </section>
            <section class="form">
              <label>Password:</label>
              <input type="password" class="formInput" name="password" placeholder="Enter your password:">
            </section>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
          </form>

          <p>Need an account? <a href="/signup">Signup</a></p>
          <p>Or go <a href="/">home</a>.</p>


    </section>
  </section>
</body>

</html>
