<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cahsier Main Oder Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link rel="stylesheet" href="style1.css">
  </head>
  <body>
    <header>
      <section class="back">
        <a href="/">Back</a>
      </section>
      <section>
        <h1>Menu</h1>
      </section>
    </header>
    <section class="container">
      <a href="/order"><img src="img/coffee.png" alt=""></a>
      <a href="/order"><img src="img/juice.png" alt=""></a>
      <a href="/order"><img src="img/bagel.png" alt=""></a>
      <a href="/order"><img src="img/croissant.png" alt=""></a>
      <a href="/order"><img src="img/tea.png" alt=""></a>
      <a href="/order"><img src="img/wrap.png" alt=""></a>
      <a href="/order"><i class="fas fa-ellipsis-h"></i></a>
    </section>
  </body>
</html>
