<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Order Form</title>
  <link href="style2.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
</head>
<body>
  <header>
    <section class="back">
      <a href="/">Back</a>
    </section>
    <section>
      <h1>Order Form</h1>
    </section>
  </header>

  <section class="container">

    <form class="" action="/cashier" method="POST">

      <input id="customer" type="text" name="name" value="" placeholder="Customer's Name">

      <select class="" name="type">
        <option value="Ice Coffee">Iced Coffee</option>
        <option value="Hot Coffee">Hot Coffee</option>
        <option value="Dark Coffee">Dark Coffee</option>
      </select>

      <select name="size">
        <option>Size</option>
        <option value="sm">Small</option>
        <option value="md">Medium</option>
        <option value="lg">Large</option>
      </select>

      <select class="coffeeQuantity" name="quantity">
        <option>Quantity</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
        <option value="eight">8</option>
        <option value="nine">9</option>
        <option value="ten">10</option>
        <option value="eleven">11</option>
        <option value="twelve">12</option>
      </select>

      <input id="other" type="text" name="other" value="" placeholder="Other Requests">

      <input id="submit" type="submit" name="" value="Submit Order">
    </form>


  </section>



</body>
</html>
