body{
  padding-top:80px;
  word-wrap:break-word;

}
img{
  height: 200px;
}

.icon{
  border-radius: 146px 146px 146px 146px;
  width: 200px;
  border:  4px dashed black;
}

.kanye{
  background-image: url(img/kanyeShrug.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
