*{
  box-sizing: border-box;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
body{
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: 'Wendy One', sans-serif;
}
.container{
  padding: 5% 5% 5% 5%;
}

.role{
  width: 40%;
  margin: 0 5% 0 5%;
  text-align: center;
  float: left;
}
h1{
  font-size: 2.5rem;
}

img{
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
